/* MoviesCardList */
.movies-card-list {
  padding: 80px 0 10px;
}

.movies-card-list__block {
  margin: 0 auto;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 38px 20px;
}
