/* AboutMe for laptop */
.about-me {
  padding: 10px 0 105px;
}

.about-me__card {
  margin: 66px auto 100px;
  max-width: 1140px;
  min-width: 284px;
  width: 90%;

  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr 1fr;
  grid-template-rows: repeat(3, minmax(min-content, max-content)) 1fr;
  grid-template-areas:
    "name . photo"
    "info . photo"
    "description . photo"
    "social-links . photo";
}

.about-me__name {
  margin: 0 0 18px;
  max-width: 600px;
  width: 100%;

  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.04em;

  grid-area: name;
}

.about-me__info {
  margin: 0 0 26px;
  max-width: 600px;
  width: 100%;

  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;

  grid-area: info;
}

.about-me__description {
  margin: 0 0 99px;
  max-width: 600px;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;

  grid-area: description;
}

.about-me__photo {
  max-width: 270px;
  max-height: 327px;
  border-radius: 10px;

  grid-area: photo;
}

.about-me__social-links {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  grid-area: social-links;
}

.about-me__social-link {
  margin: 0 20px 0 0;
  padding: 0;

  color: #fff;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  text-decoration: none;

  opacity: 1;
  transition: opacity 180ms linear 2ms;
}

.about-me__social-link:last-of-type {
  margin-right: 0;
}

.about-me__social-link:hover {
  opacity: .7;
}

.about-me__wrapper {
  margin: 0 auto;
  max-width: 1140px;
  min-width: 282px;
  width: 90%;
}

.about-me__portfolio {
  margin: 0 auto;
  padding: 0;
  width: 100%;

  color: #8B8B8B;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
}

.about-me__site {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 90px;

  border-bottom: 1px solid #424242;
  list-style-type: none;

  display: flex;
}

.about-me__site:first-of-type {
  margin-top: 30px;
}

.about-me__site:last-of-type {
  border-bottom: none;
}

.about-me__site-link {
  margin: auto;
  width: 100%;
  height: min-content;
  text-decoration: none;

  display: flex;
  align-items: center;

  opacity: 1;
  transition: opacity 180ms linear 2ms;
}

.about-me__site-link:hover {
  opacity: .7;
}

.about-me__site-name {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.04em
}

.about-me__site-image {
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1000px) {
  .about-me__name {
    width: 80%;
  }

  .about-me__info {
    width: 90%;
  }

  .about-me__description {
    width: 90%;
  }
}


/* AboutMe for tablet */
@media screen and (max-width: 768px) {
  .about-me {
    padding: 0 0 70px;
  }

  .about-me__card {
    margin-bottom: 90px;
    width: 87%;
  }

  .about-me__name {
    margin-bottom: 16px;

    font-size: 40px;
    line-height: 1;
  }

  .about-me__info {
    margin-bottom: 20px;

    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__description {
    margin-bottom: 87px;

    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__wrapper {
    width: 87%;
  }

  .about-me__portfolio {
    color: #A0A0A0;
  }

  .about-me__site {
    border-color: #E6E6E6;
  }

  .about-me__site-name {
    font-size: 28px;
    line-height: 1.79;
  }

  .about-me__site-image {
    width: 18px;
    height: 18px;
  }
}

@media screen and (max-width: 566px) {
  .about-me__card {
    margin: 60px auto 70px;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(min-content, max-content)) 1fr;
    grid-template-areas:
      "photo"
      "name"
      "info"
      "description"
      "social-links";
  }

  .about-me__name {
    margin-bottom: 20px;
  }

  .about-me__info {
    margin-bottom: 20px;
  }

  .about-me__description {
    margin-bottom: 40px;
  }

  .about-me__photo {
    margin: 0 0 40px;
    width: calc(320px * .87);
    height: 352px;
  }

  .about-me__social-link {
    margin-right: 26px;
  }

  .about-me__portfolio {
    font-size: 14px;
    line-height: 1.43;
  }

  .about-me__site {
    height: 68px;
  }

  .about-me__site:first-of-type {
    margin-top: 20px;
  }

  .about-me__site-name {
    font-size: 18px;
    line-height: 1.56;
  }

  .about-me__site-image {
    width: 12px;
    height: 12px;
  }
}


/* AboutMe for phone */
@media screen and (max-width: 320px) {
  .about-me__name {
    width: 100%;

    font-size: 30px;
    line-height: 1.21;
  }

  .about-me__info {
    width: 100%;

    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__description {
    width: 100%;

    font-size: 11px;
    line-height: 1.45;
  }

  .about-me__photo {
    width: 100%;
  }
}